body {
    margin: 0%;
}

/* Cabeza */

.head {
    display: flex;
    padding: 48px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Cuerpo */

.main {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}


.presentation_content {
    display: flex;
}

.presentation_content_grid {
    display: flex;
    padding-left: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

#presentation_grid_two {
    flex-direction: column;
}

#presentation_grid_three button {
    align-items: top;
    border-radius: 100%;
    size: 1px;
}

.scroll {
    display: inline-flex;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
}

/* Pie */

footer {
    display: flex;
    padding: 49px 0 96px 0;
    justify-content: center;
    align-items: top;
}

.grid {
    display: flex;
    justify-content: center;
    border-top: 1px solid #E5E7EB;
}

.grid_row {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

/* Tipografías */

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border-color: gray;
    border-radius: 40px;
    padding: 20px;
    width: 100px;
}

.title {
    color: #111827;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.subtitle {
    color: #6B7280;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}